In [123]:
#create dependencies
import pandas as pd
import csv

In [124]:
#read csv file
file_to_load_df = "purchase_data.csv"
summary_analysis_df = []
unique_items_list = 0

In [145]:

# Read Purchasing File and store into Pandas data frame
csv_path = "/Users/bitty/pandas-challenge/pandas-challenge/Resources/purchase_data.csv"
purchase_data_df = pd.read_csv(csv_path)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [126]:
all_players = purchase_data_df['SN'].count()
all_players
summary_analysis_df.append({"Total Number of Players":[all_players]})
#print it as a column? with "Total Players as the column name"
summary_analysis_df

[{'Total Number of Players': [780]}]

In [127]:
#DELETE THIS LATER
#calculate # of players use len
#all_players = purchase_data_df['SN'].value_counts()
#all_players

#print it as a column? with "Total Players as the column name"

In [128]:
#calculate purchase analysis & save to a summary_analysis_df
    #number of unique items count
unique_items_num = purchase_data_df["Item Name"].value_counts()
unique_items_num

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Extraction, Quickblade Of Trembling Hands        9
Nirvana                                          9
Fiery Glass Crusader                             9
                                                ..
Undead Crusader                                  1
Endbringer                                       1
Betrayer                                         1
Gladiator's Glaive                               1
Celeste                                          1
Name: Item Name, Length: 179, dtype: int64

In [129]:
unique_items = purchase_data_df["Item Name"].unique()
print(len(unique_items))

179

In [130]:
#save unique items count to df
summary_analysis_df.append({"Unique Item Counts":[len(unique_items)]})
summary_analysis_df

[{'Total Number of Players': [780]}, {'Unique Item Counts': [179]}]

In [131]:
#average price of items
average_price_summary = purchase_data_df["Price"]
average_price_summary = purchase_data_df["Price"].sum()
average_price_summary = (average_price_summary / all_players).round(2)
summary_analysis_df.append({"Average Item Price":[average_price_summary]})
print(average_price_summary)

3.05

In [132]:
    #total number of purchases
total_purchases = purchase_data_df["Purchase ID"].count()
summary_analysis_df.append({"Total Purchases":[total_purchases]})
total_purchases

780

In [133]:
 #total revenue
total_revenue = purchase_data_df["Price"].sum()
summary_analysis_df.append({"Total Revenue":[total_revenue]})
total_revenue

2379.77

In [134]:
#summary analysis table
summary_analysis_df

print(summary_analysis_df)

[{'Total Number of Players': [780]}, {'Unique Item Counts': [179]}, {'Average Item Price': [3.05]}, {'Total Purchases': [780]}, {'Total Revenue': [2379.77]}]

In [135]:
#summary analysis table
#summary_analysis_df
#summary_dataframe_df = pd.DataFrame(summary_analysis_df, columns=['Total Number of Players', 'Unique Item Counts', 'Average Item Price', 'Total Purchases', 'Total Revenue'])
#print(summary_dataframe_df)

In [146]:
#get a count and percentage of male players & female players & Other/Non-disclosed
gendered_purchase_analysis_df = purchase_data_df['Gender'].value_counts()

#display the table

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [138]:
#create a purchase analysis by gender & save to gendered_purchase_analysis_df
#purchase count
#average purchase price
#total purchase value
#average total purchase per person
#create df and print results

In [139]:
#age demographics
#establish bins for age group (<10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+)
#categorize existing players into age bins ---> pd.cut()
#summarize results in a age_demo_df
#round percentages to 2 decimal points format column 
#print(age_demo_df.head())

In [140]:
#create another purchase analysis by age
#calculate purchase count, av purchase price, total purchase value, av total purchase per person
#print(analysis_by_age_df)

In [141]:
#create a df of top_spenders_df and run analysis on purchase count, av purchase price, total purchase value, along with their screen name
#print(top_spenders_df.head())

In [142]:
#most popular items df
#get item ID, item name, and item price columns
#groupby item ID and item name
#create df and sort count column in descending order
#optional: clean up formatting
#print(popular_items_df.head())

In [143]:
#most profitable items df
#sort most pop items df by total purchase value in descending order
#display a preview of the data .head()