In [1917]:
#create dependencies
import pandas as pd
import csv

In [1918]:
#read csv file
file_to_load_df = "purchase_data.csv"
summary_analysis_df = []
unique_items_list = 0
gendered_purchase_analysis_df = []

In [1919]:

# Read Purchasing File and store into Pandas data frame
csv_path = "/Users/bitty/pandas-challenge/pandas-challenge/Resources/purchase_data.csv"
purchase_data_df = pd.read_csv(csv_path)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [1920]:
all_players = purchase_data_df['SN'].nunique()
all_players

576

In [1921]:
#calculate purchase analysis & save to a summary_analysis_df
    #number of unique items count
unique_items_num = purchase_data_df["Item Name"].value_counts()
unique_items_num

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Extraction, Quickblade Of Trembling Hands        9
Nirvana                                          9
Fiery Glass Crusader                             9
                                                ..
Undead Crusader                                  1
Endbringer                                       1
Betrayer                                         1
Gladiator's Glaive                               1
Celeste                                          1
Name: Item Name, Length: 179, dtype: int64

In [1922]:
unique_items = purchase_data_df["Item Name"].unique()
print(len(unique_items))

179

In [1923]:
#average price of items
average_price_summary = purchase_data_df["Price"]
average_price_summary = purchase_data_df["Price"].sum()
average_price_summary = (average_price_summary / total_purchases).round(2)
print(average_price_summary)

3.05

In [1924]:
    #total number of purchases
total_purchases = purchase_data_df["Purchase ID"].count()
total_purchases

780

In [1925]:
 #total revenue
total_revenue = purchase_data_df["Price"].sum()
total_revenue

2379.77

In [1926]:
#summary analysis table
summary_analysis_df = pd.DataFrame({"Total Numbers of Players": all_players, "Unique Item Counts": len(unique_items), "Average": average_price_summary, "Total Purchases": total_purchases, "Total Revenue": total_revenue}, index=[0])
print(summary_analysis_df)

   Total Numbers of Players  Unique Item Counts  Average  Total Purchases  \
0                       576                 179     3.05              780

   Total Revenue
0        2379.77

In [1927]:
#summary analysis table
#summary_analysis_df
#summary_dataframe_df = pd.DataFrame(summary_analysis_df, columns=['Total Number of Players', 'Unique Item Counts', 'Average Item Price', 'Total Purchases', 'Total Revenue'])
#print(summary_dataframe_df)

In [1928]:
no_duplicates = purchase_data_df.loc[:, ["SN", "Gender"]]
no_duplicates = no_duplicates.drop_duplicates()
#get a count and percentage of male players & female players & Other/Non-disclosed
gendered_value_counts_df = no_duplicates['Gender'].value_counts()
gendered_value_counts_df
#display the table

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [1929]:
#percentages per gender (FORMAT PERCENTAGE LATER)
gender_percent = ((gendered_value_counts_df/all_players)*100).round(2) 
gender_percent
gendered_analysis_df = pd.DataFrame({"Player Count": gendered_value_counts_df, "Percentage": gender_percent})
gendered_analysis_df["Percentage"] = gendered_analysis_df["Percentage"].map("{:.2f}%".format)
gendered_analysis_df

                       Player Count Percentage
Male                            484     84.03%
Female                           81     14.06%
Other / Non-Disclosed            11      1.91%

In [1930]:
#create a purchase analysis by gender & save to gendered_purchase_analysis_df
gendered_purchases = purchase_data_df.loc[:, ["Gender", "Price"]]
gendered_purchases

#purchase count
purchases_by_gender = pd.DataFrame(gendered_purchases.groupby(["Gender"]).count())
print(purchases_by_gender)

#average purchase price
average_purchases_by_gender = pd.DataFrame(gendered_purchases.groupby(["Gender"]).mean().round(2))
print(average_purchases_by_gender)

#total purchase value
total_value_by_gender = pd.DataFrame(gendered_purchases.groupby(["Gender"]).sum())
print(total_value_by_gender)

                       Price
Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
                       Price
Gender
Female                  3.20
Male                    3.02
Other / Non-Disclosed   3.35
                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [1931]:
#average total purchase per person (by gender values)
average_total_purchase = (total_value_by_gender["Price"] / gendered_analysis_df["Player Count"]).round(2)
average_total_purchase = pd.DataFrame({"Average Total Purchase":average_total_purchase})
print(average_total_purchase)

                       Average Total Purchase
Female                                   4.47
Male                                     4.07
Other / Non-Disclosed                    4.56

In [1932]:
#create df and print results
gender_summary_df = pd.merge(purchases_by_gender, average_purchases_by_gender, on="Gender")
gender_summary_df = gender_summary_df.rename(columns={"Price_x":"Purchases", "Price_y":"Average Purchases"})
gender_summary_df

                       Purchases  Average Purchases
Gender
Female                       113               3.20
Male                         652               3.02
Other / Non-Disclosed         15               3.35

In [1933]:
gender_summary_df = pd.merge(gender_summary_df, total_value_by_gender, on="Gender")
gender_summary_df = gender_summary_df.rename(columns={"Price":"Total Revenue"})
gender_summary_df

                       Purchases  Average Purchases  Total Revenue
Gender
Female                       113               3.20         361.94
Male                         652               3.02        1967.64
Other / Non-Disclosed         15               3.35          50.19

In [1934]:
gender_summary_df = pd.concat([gender_summary_df, average_total_purchase], axis=1)
gender_summary_df

,Purchases,Average Purchases,Total Revenue,Average Total Purchase
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [1935]:
#Find out the oldest player, in order to establish bin range
column = purchase_data_df["Age"]
max_value = column.max()
print(max_value)

45

In [1936]:
#age demographics
#establish bins for age group (<10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+)
bins = [0, 10, 15, 20, 25, 30, 35, 39, 46]
group_names = [">10 years old", "10-14 years old", "15-19 years old", "20-24 years old", "25-29 years old", "30-34 years old", "35-39 years old", "40+ years old"]
#categorize existing players into age bins ---> pd.cut()
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names, include_lowest=True)
purchase_data_df.head()
#summarize results in a age_demo_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19 years old
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+ years old
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24 years old
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24 years old
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24 years old

In [1937]:
no_duplicates = purchase_data_df.loc[:, ["SN", "Age Group"]]
no_duplicates = no_duplicates.drop_duplicates()
#get a count and percentage of male players & female players & Other/Non-disclosed
age_group_df = pd.DataFrame(no_duplicates.groupby(["Age Group"]).count())
age_group_df = age_group_df.rename(columns= {"SN":"Total Players in Age Group"})
age_group_df
#display the table

                 Total Players in Age Group
Age Group
>10 years old                            24
10-14 years old                          41
15-19 years old                         150
20-24 years old                         232
25-29 years old                          59
30-34 years old                          37
35-39 years old                          21
40+ years old                            12

In [1938]:
#create another purchase analysis by age
#calculate purchase count
purchases_by_age_group = purchase_data_df.loc[:, ["Age Group", "Price"]]
purchases_by_age_group = pd.DataFrame(purchases_by_age_group.groupby(["Age Group"]).count())
purchases_by_age_group = purchases_by_age_group.rename(columns= {"Price":"Total Purchases"})
print(purchases_by_age_group)

                 Total Purchases
Age Group
>10 years old                 32
10-14 years old               54
15-19 years old              200
20-24 years old              325
25-29 years old               77
30-34 years old               52
35-39 years old               27
40+ years old                 13

In [1939]:
#calculate av purchase price 
average_purchase_by_age = purchase_data_df.loc[:, ["Age Group", "Price"]]
average_purchase_by_age = pd.DataFrame(average_purchase_by_age.groupby(["Age Group"]).mean().round(2))
print(average_purchase_by_age)

                 Price
Age Group
>10 years old     3.40
10-14 years old   2.90
15-19 years old   3.11
20-24 years old   3.02
25-29 years old   2.88
30-34 years old   2.99
35-39 years old   3.54
40+ years old     2.94

In [1940]:

#calculate total purchase value 
total_purchased_by_age = purchase_data_df.loc[:, ["Age Group", "Price"]]
total_purchased_by_age = pd.DataFrame(total_purchased_by_age.groupby(["Age Group"]).sum())
print(total_purchased_by_age)

                  Price
Age Group
>10 years old    108.96
10-14 years old  156.60
15-19 years old  621.56
20-24 years old  981.64
25-29 years old  221.42
30-34 years old  155.71
35-39 years old   95.64
40+ years old     38.24

In [1941]:

# calculate av total purchase per person
average_total_purchase_by_age = (total_purchased_by_age["Price"] / age_group_df["Total Players in Age Group"])
average_total_purchase_by_age = average_purchase_by_age.rename(columns={"Price":"Average Purchase per Player per Group"})
print(average_total_purchase_by_age)

                 Average Purchase per Player per Group
Age Group
>10 years old                                     3.40
10-14 years old                                   2.90
15-19 years old                                   3.11
20-24 years old                                   3.02
25-29 years old                                   2.88
30-34 years old                                   2.99
35-39 years old                                   3.54
40+ years old                                     2.94

In [1942]:
#merge data
age_summary_df = pd.merge(age_group_df, purchases_by_age_group, on="Age Group")
print(age_summary_df)

                 Total Players in Age Group  Total Purchases
Age Group
>10 years old                            24               32
10-14 years old                          41               54
15-19 years old                         150              200
20-24 years old                         232              325
25-29 years old                          59               77
30-34 years old                          37               52
35-39 years old                          21               27
40+ years old                            12               13

In [1943]:
#merge data pt 2
age_summary_df = pd.merge(age_summary_df, average_purchase_by_age, on="Age Group")
age_summary_df = age_summary_df.rename(columns= {"Price":"Average Purchase Price"})
print(age_summary_df)

                 Total Players in Age Group  Total Purchases  \
Age Group
>10 years old                            24               32
10-14 years old                          41               54
15-19 years old                         150              200
20-24 years old                         232              325
25-29 years old                          59               77
30-34 years old                          37               52
35-39 years old                          21               27
40+ years old                            12               13

                 Average Purchase Price
Age Group
>10 years old                      3.40
10-14 years old                    2.90
15-19 years old                    3.11
20-24 years old                    3.02
25-29 years old                    2.88
30-34 years old                    2.99
35-39 years old                    3.54
40+ years old                      2.94

In [1944]:
#merge data pt 3
age_summary_df = pd.merge(age_summary_df, total_purchased_by_age, on="Age Group")
age_summary_df = age_summary_df.rename(columns= {"Price":"Total Purchase Value"})
print(age_summary_df)

                 Total Players in Age Group  Total Purchases  \
Age Group
>10 years old                            24               32
10-14 years old                          41               54
15-19 years old                         150              200
20-24 years old                         232              325
25-29 years old                          59               77
30-34 years old                          37               52
35-39 years old                          21               27
40+ years old                            12               13

                 Average Purchase Price  Total Purchase Value
Age Group
>10 years old                      3.40                108.96
10-14 years old                    2.90                156.60
15-19 years old                    3.11                621.56
20-24 years old                    3.02                981.64
25-29 years old                    2.88                221.42
30-34 years old                    2.99                155.71
35-39 years old                    3.54                 95.64
40+ years old                      2.94                 38.24

In [1945]:
#merge data pt 4
age_summary_df = pd.concat([age_summary_df, average_total_purchase_by_age], axis=1)
print(age_summary_df)

                 Total Players in Age Group  Total Purchases  \
Age Group
>10 years old                            24               32
10-14 years old                          41               54
15-19 years old                         150              200
20-24 years old                         232              325
25-29 years old                          59               77
30-34 years old                          37               52
35-39 years old                          21               27
40+ years old                            12               13

                 Average Purchase Price  Total Purchase Value  \
Age Group
>10 years old                      3.40                108.96
10-14 years old                    2.90                156.60
15-19 years old                    3.11                621.56
20-24 years old                    3.02                981.64
25-29 years old                    2.88                221.42
30-34 years old                    2.99                155.71
35-39 years old                    3.54                 95.64
40+ years old                      2.94                 38.24

                 Average Purchase per Player per Group
Age Group
>10 years old                                     3.40
10-14 years old                                   2.90
15-19 years old                                   3.11
20-24 years old                                   3.02
25-29 years old                                   2.88
30-34 years old                                   2.99
35-39 years old                                   3.54
40+ years old                                     2.94

In [1946]:
#create a df of top_spenders_df and run analysis on purchase count, av purchase price, total purchase value, along with their screen name
#print(top_spenders_df.head())

In [1947]:
#most popular items df
#get item ID, item name, and item price columns
#groupby item ID and item name
#create df and sort count column in descending order
#optional: clean up formatting
#print(popular_items_df.head())

In [1948]:
#most profitable items df
#sort most pop items df by total purchase value in descending order
#display a preview of the data .head()