In [1078]:
#create dependencies
import pandas as pd
import csv

In [1079]:
#read csv file
file_to_load_df = "purchase_data.csv"
summary_analysis_df = []
unique_items_list = 0
gendered_purchase_analysis_df = []

In [1080]:

# Read Purchasing File and store into Pandas data frame
csv_path = "/Users/bitty/pandas-challenge/pandas-challenge/Resources/purchase_data.csv"
purchase_data_df = pd.read_csv(csv_path)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [1081]:
all_players = purchase_data_df['SN'].nunique()
all_players
#print it as a column? with "Total Players as the column name"

576

In [1082]:
#DELETE THIS LATER
#calculate # of players use len
#all_players = purchase_data_df['SN'].value_counts()
#all_players

#print it as a column? with "Total Players as the column name"

In [1083]:
#calculate purchase analysis & save to a summary_analysis_df
    #number of unique items count
unique_items_num = purchase_data_df["Item Name"].value_counts()
unique_items_num

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Extraction, Quickblade Of Trembling Hands        9
Nirvana                                          9
Fiery Glass Crusader                             9
                                                ..
Undead Crusader                                  1
Endbringer                                       1
Betrayer                                         1
Gladiator's Glaive                               1
Celeste                                          1
Name: Item Name, Length: 179, dtype: int64

In [1084]:
unique_items = purchase_data_df["Item Name"].unique()
print(len(unique_items))

179

In [1085]:
#average price of items
average_price_summary = purchase_data_df["Price"]
average_price_summary = purchase_data_df["Price"].sum()
average_price_summary = (average_price_summary / total_purchases).round(2)
print(average_price_summary)

3.05

In [1086]:
    #total number of purchases
total_purchases = purchase_data_df["Purchase ID"].count()
total_purchases

780

In [1087]:
 #total revenue
total_revenue = purchase_data_df["Price"].sum()
total_revenue

2379.77

In [1088]:
#summary analysis table
summary_analysis_df = pd.DataFrame({"Total Numbers of Players": all_players, "Unique Item Counts": len(unique_items), "Average": average_price_summary, "Total Purchases": total_purchases, "Total Revenue": total_revenue}, index=[0])
print(summary_analysis_df)

   Total Numbers of Players  Unique Item Counts  Average  Total Purchases  \
0                       576                 179     3.05              780

   Total Revenue
0        2379.77

In [1089]:
#summary analysis table
#summary_analysis_df
#summary_dataframe_df = pd.DataFrame(summary_analysis_df, columns=['Total Number of Players', 'Unique Item Counts', 'Average Item Price', 'Total Purchases', 'Total Revenue'])
#print(summary_dataframe_df)

In [1090]:
no_duplicates = purchase_data_df.loc[:, ["SN", "Gender"]]
no_duplicates = no_duplicates.drop_duplicates()

In [1091]:
#get a count and percentage of male players & female players & Other/Non-disclosed
gendered_value_counts_df = no_duplicates['Gender'].value_counts()
gendered_value_counts_df
#display the table

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [1092]:
#percentages per gender (FORMAT PERCENTAGE LATER)
gender_percent = ((gendered_value_counts_df/all_players)*100).round(2) 
gender_percent
gendered_analysis_df = pd.DataFrame({"Player Count": gendered_value_counts_df, "Percentage": gender_percent})
gendered_analysis_df["Percentage"] = gendered_analysis_df["Percentage"].map("{:.2f}%".format)
gendered_analysis_df

                       Player Count Percentage
Male                            484     84.03%
Female                           81     14.06%
Other / Non-Disclosed            11      1.91%

In [1093]:
grouped_by_F_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", :]
grouped_by_F_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
...,...,...,...,...,...,...,...
731,731,Eudanu84,22,Female,12,Dawne,1.02
740,740,Reunasu60,22,Female,127,"Heartseeker, Reaver of Souls",3.92
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
767,767,Ilmol66,8,Female,92,Final Critic,4.88
775,775,Aethedru70,21,Female,60,Wolf,3.54

In [1094]:
grouped_by_M_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", :]
grouped_by_M_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [1095]:
grouped_by_nondisc_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed", :]
grouped_by_nondisc_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39
237,237,Idairin51,20,Other / Non-Disclosed,16,Restored Bauble,3.55
242,242,Eodaisu60,16,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
291,291,Idairin51,20,Other / Non-Disclosed,35,Heartless Bone Dualblade,3.45
350,350,Rairith81,15,Other / Non-Disclosed,34,Retribution Axe,2.22
401,401,Lirtim36,15,Other / Non-Disclosed,46,Hopeless Ebon Dualblade,1.33
484,484,Chanosian48,35,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
549,549,Maluncil97,25,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10
629,629,Maluncil97,25,Other / Non-Disclosed,107,"Splitter, Foe Of Subtlety",2.18
637,637,Airi27,24,Other / Non-Disclosed,163,Thunderfury Scimitar,3.45
747,747,Siarithria38,38,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10

In [1096]:
#create a purchase analysis by gender & save to gendered_purchase_analysis_df
gendered_purchases = purchase_data_df.loc[:, ["Gender", "Price"]]
gendered_purchases

#purchase count
purchases_by_gender = pd.DataFrame(gendered_purchases.groupby(["Gender"]).count())
print(purchases_by_gender)

#average purchase price
average_purchases_by_gender = pd.DataFrame(gendered_purchases.groupby(["Gender"]).mean().round(2))
print(average_purchases_by_gender)

#total purchase value
total_value_by_gender = pd.DataFrame(gendered_purchases.groupby(["Gender"]).sum())
print(total_value_by_gender)

                       Price
Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
                       Price
Gender
Female                  3.20
Male                    3.02
Other / Non-Disclosed   3.35
                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19
                          0
Female                 4.47
Male                   4.07
Other / Non-Disclosed  4.56

In [1114]:
#average total purchase per person (by gender values)
average_total_purchase = (total_value_by_gender["Price"] / gendered_analysis_df["Player Count"]).round(2)
average_total_purchase = pd.DataFrame({"Average Total Purchase":average_total_purchase})
print(average_total_purchase)

                       Average Total Purchase
Female                                   4.47
Male                                     4.07
Other / Non-Disclosed                    4.56

In [1097]:
#create df and print results
gender_summary_df = pd.merge(purchases_by_gender, average_purchases_by_gender, on="Gender")
gender_summary_df = gender_summary_df.rename(columns={"Price_x":"Purchases", "Price_y":"Average Purchases"})
gender_summary_df

                       Purchases  Average Purchases
Gender
Female                       113               3.20
Male                         652               3.02
Other / Non-Disclosed         15               3.35

In [1098]:
gender_summary_df = pd.merge(gender_summary_df, total_value_by_gender, on="Gender")
gender_summary_df = gender_summary_df.rename(columns={"Price":"Total Revenue"})
gender_summary_df

                       Purchases  Average Purchases  Total Revenue
Gender
Female                       113               3.20         361.94
Male                         652               3.02        1967.64
Other / Non-Disclosed         15               3.35          50.19

In [1117]:
gender_summary_df = pd.concat([gender_summary_df, average_total_purchase], axis=1)
gender_summary_df

,Purchases,Average Purchases,Total Revenue,Average Total Purchase
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [1099]:
#age demographics
#establish bins for age group (<10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+)
#categorize existing players into age bins ---> pd.cut()
#summarize results in a age_demo_df
#round percentages to 2 decimal points format column 
#print(age_demo_df.head())

In [1100]:
#create another purchase analysis by age
#calculate purchase count, av purchase price, total purchase value, av total purchase per person
#print(analysis_by_age_df)

In [1101]:
#create a df of top_spenders_df and run analysis on purchase count, av purchase price, total purchase value, along with their screen name
#print(top_spenders_df.head())

In [1102]:
#most popular items df
#get item ID, item name, and item price columns
#groupby item ID and item name
#create df and sort count column in descending order
#optional: clean up formatting
#print(popular_items_df.head())

In [1103]:
#most profitable items df
#sort most pop items df by total purchase value in descending order
#display a preview of the data .head()