In [3018]:
#create dependencies
import pandas as pd
import csv

In [3019]:
#read csv file
file_to_load_df = "purchase_data.csv"
summary_analysis_df = []
unique_items_list = 0
gendered_purchase_analysis_df = []

In [3020]:

# Read Purchasing File and store into Pandas data frame
csv_path = "/Users/bitty/pandas-challenge/pandas-challenge/Resources/purchase_data.csv"
purchase_data_df = pd.read_csv(csv_path)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3021]:
all_players = purchase_data_df['SN'].nunique()
all_players

576

In [3022]:
#calculate purchase analysis & save to a summary_analysis_df
    #number of unique items count
unique_items_num = purchase_data_df["Item Name"].value_counts()
unique_items_num

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Extraction, Quickblade Of Trembling Hands        9
Nirvana                                          9
Fiery Glass Crusader                             9
                                                ..
Undead Crusader                                  1
Endbringer                                       1
Betrayer                                         1
Gladiator's Glaive                               1
Celeste                                          1
Name: Item Name, Length: 179, dtype: int64

In [3023]:
unique_items = purchase_data_df["Item Name"].unique()
print(len(unique_items))

179

In [3024]:
#average price of items
average_price_summary = purchase_data_df["Price"]
average_price_summary = purchase_data_df["Price"].sum()
average_price_summary = (average_price_summary / total_purchases).round(2)
print(average_price_summary)

3.05

In [3025]:
    #total number of purchases
total_purchases = purchase_data_df["Purchase ID"].count()
total_purchases

780

In [3026]:
 #total revenue
total_revenue = purchase_data_df["Price"].sum()
total_revenue

2379.77

In [3027]:
#summary analysis table
summary_analysis_df = pd.DataFrame({"Total Numbers of Players": all_players, "Unique Item Counts": len(unique_items), "Average": average_price_summary, "Total Purchases": total_purchases, "Total Revenue": total_revenue}, index=[0])
print(summary_analysis_df)

   Total Numbers of Players  Unique Item Counts  Average  Total Purchases  \
0                       576                 179     3.05              780

   Total Revenue
0        2379.77

In [3028]:
no_duplicates = purchase_data_df.loc[:, ["SN", "Gender"]]
no_duplicates = no_duplicates.drop_duplicates()
#get a count and percentage of male players & female players & Other/Non-disclosed
gendered_value_counts_df = no_duplicates['Gender'].value_counts()
gendered_value_counts_df
#display the table

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [3029]:
#percentages per gender (FORMAT PERCENTAGE LATER)
gender_percent = ((gendered_value_counts_df/all_players)*100).round(2) 
gender_percent
gendered_analysis_df = pd.DataFrame({"Player Count": gendered_value_counts_df, "Percentage": gender_percent})
gendered_analysis_df["Percentage"] = gendered_analysis_df["Percentage"].map("{:.2f}%".format)
gendered_analysis_df

                       Player Count Percentage
Male                            484     84.03%
Female                           81     14.06%
Other / Non-Disclosed            11      1.91%

In [3030]:
#create a purchase analysis by gender & save to gendered_purchase_analysis_df
gendered_purchases = purchase_data_df.loc[:, ["Gender", "Price"]]
gendered_purchases

#purchase count
purchases_by_gender = pd.DataFrame(gendered_purchases.groupby(["Gender"]).count())
print(purchases_by_gender)

#average purchase price
average_purchases_by_gender = pd.DataFrame(gendered_purchases.groupby(["Gender"]).mean().round(2))
print(average_purchases_by_gender)

#total purchase value
total_value_by_gender = pd.DataFrame(gendered_purchases.groupby(["Gender"]).sum())
print(total_value_by_gender)

                       Price
Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
                       Price
Gender
Female                  3.20
Male                    3.02
Other / Non-Disclosed   3.35
                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [3031]:
#average total purchase per person (by gender values)
average_total_purchase = (total_value_by_gender["Price"] / gendered_analysis_df["Player Count"]).round(2)
average_total_purchase = pd.DataFrame({"Average Total Purchase":average_total_purchase})
print(average_total_purchase)

                       Average Total Purchase
Female                                   4.47
Male                                     4.07
Other / Non-Disclosed                    4.56

In [3032]:
#create df and print results
gender_summary_df = pd.merge(purchases_by_gender, average_purchases_by_gender, on="Gender")
gender_summary_df = gender_summary_df.rename(columns={"Price_x":"Purchases", "Price_y":"Average Purchases"})
gender_summary_df

                       Purchases  Average Purchases
Gender
Female                       113               3.20
Male                         652               3.02
Other / Non-Disclosed         15               3.35

In [3033]:
gender_summary_df = pd.merge(gender_summary_df, total_value_by_gender, on="Gender")
gender_summary_df = gender_summary_df.rename(columns={"Price":"Total Revenue"})
gender_summary_df

                       Purchases  Average Purchases  Total Revenue
Gender
Female                       113               3.20         361.94
Male                         652               3.02        1967.64
Other / Non-Disclosed         15               3.35          50.19

In [3034]:
gender_summary_df = pd.concat([gender_summary_df, average_total_purchase], axis=1)
gender_summary_df

,Purchases,Average Purchases,Total Revenue,Average Total Purchase
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [3035]:
#Find out the oldest player, in order to establish bin range
column = purchase_data_df["Age"]
max_value = column.max()
print(max_value)

45

In [3036]:
#age demographics
#establish bins for age group (<10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+)
bins = [0, 10, 15, 20, 25, 30, 35, 39, 46]
group_names = [">10 years old", "10-14 years old", "15-19 years old", "20-24 years old", "25-29 years old", "30-34 years old", "35-39 years old", "40+ years old"]
#categorize existing players into age bins ---> pd.cut()
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names, include_lowest=True)
purchase_data_df.head()
#summarize results in a age_demo_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19 years old
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+ years old
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24 years old
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24 years old
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24 years old

In [3037]:
no_duplicates = purchase_data_df.loc[:, ["SN", "Age Group"]]
no_duplicates = no_duplicates.drop_duplicates()
#get a count and percentage of male players & female players & Other/Non-disclosed
age_group_df = pd.DataFrame(no_duplicates.groupby(["Age Group"]).count())
age_group_df = age_group_df.rename(columns= {"SN":"Total Players in Age Group"})
age_group_df
#display the table

                 Total Players in Age Group
Age Group
>10 years old                            24
10-14 years old                          41
15-19 years old                         150
20-24 years old                         232
25-29 years old                          59
30-34 years old                          37
35-39 years old                          21
40+ years old                            12

In [3038]:
#create another purchase analysis by age
#calculate purchase count
purchases_by_age_group = purchase_data_df.loc[:, ["Age Group", "Price"]]
purchases_by_age_group = pd.DataFrame(purchases_by_age_group.groupby(["Age Group"]).count())
purchases_by_age_group = purchases_by_age_group.rename(columns= {"Price":"Total Purchases"})
print(purchases_by_age_group)

                 Total Purchases
Age Group
>10 years old                 32
10-14 years old               54
15-19 years old              200
20-24 years old              325
25-29 years old               77
30-34 years old               52
35-39 years old               27
40+ years old                 13

In [3039]:
#calculate av purchase price 
average_purchase_by_age = purchase_data_df.loc[:, ["Age Group", "Price"]]
average_purchase_by_age = pd.DataFrame(average_purchase_by_age.groupby(["Age Group"]).mean().round(2))
print(average_purchase_by_age)

                 Price
Age Group
>10 years old     3.40
10-14 years old   2.90
15-19 years old   3.11
20-24 years old   3.02
25-29 years old   2.88
30-34 years old   2.99
35-39 years old   3.54
40+ years old     2.94

In [3040]:

#calculate total purchase value 
total_purchased_by_age = purchase_data_df.loc[:, ["Age Group", "Price"]]
total_purchased_by_age = pd.DataFrame(total_purchased_by_age.groupby(["Age Group"]).sum())
print(total_purchased_by_age)

                  Price
Age Group
>10 years old    108.96
10-14 years old  156.60
15-19 years old  621.56
20-24 years old  981.64
25-29 years old  221.42
30-34 years old  155.71
35-39 years old   95.64
40+ years old     38.24

In [3041]:

# calculate av total purchase per person
average_total_purchase_by_age = (total_purchased_by_age["Price"] / age_group_df["Total Players in Age Group"])
average_total_purchase_by_age = average_purchase_by_age.rename(columns={"Price":"Average Purchase per Player per Group"})
print(average_total_purchase_by_age)

                 Average Purchase per Player per Group
Age Group
>10 years old                                     3.40
10-14 years old                                   2.90
15-19 years old                                   3.11
20-24 years old                                   3.02
25-29 years old                                   2.88
30-34 years old                                   2.99
35-39 years old                                   3.54
40+ years old                                     2.94

In [3042]:
#merge data
age_summary_df = pd.merge(age_group_df, purchases_by_age_group, on="Age Group")
print(age_summary_df)

                 Total Players in Age Group  Total Purchases
Age Group
>10 years old                            24               32
10-14 years old                          41               54
15-19 years old                         150              200
20-24 years old                         232              325
25-29 years old                          59               77
30-34 years old                          37               52
35-39 years old                          21               27
40+ years old                            12               13

In [3043]:
#merge data pt 2
age_summary_df = pd.merge(age_summary_df, average_purchase_by_age, on="Age Group")
age_summary_df = age_summary_df.rename(columns= {"Price":"Average Purchase Price"})
print(age_summary_df)

                 Total Players in Age Group  Total Purchases  \
Age Group
>10 years old                            24               32
10-14 years old                          41               54
15-19 years old                         150              200
20-24 years old                         232              325
25-29 years old                          59               77
30-34 years old                          37               52
35-39 years old                          21               27
40+ years old                            12               13

                 Average Purchase Price
Age Group
>10 years old                      3.40
10-14 years old                    2.90
15-19 years old                    3.11
20-24 years old                    3.02
25-29 years old                    2.88
30-34 years old                    2.99
35-39 years old                    3.54
40+ years old                      2.94

In [3044]:
#merge data pt 3
age_summary_df = pd.merge(age_summary_df, total_purchased_by_age, on="Age Group")
age_summary_df = age_summary_df.rename(columns= {"Price":"Total Purchase Value"})
print(age_summary_df)

                 Total Players in Age Group  Total Purchases  \
Age Group
>10 years old                            24               32
10-14 years old                          41               54
15-19 years old                         150              200
20-24 years old                         232              325
25-29 years old                          59               77
30-34 years old                          37               52
35-39 years old                          21               27
40+ years old                            12               13

                 Average Purchase Price  Total Purchase Value
Age Group
>10 years old                      3.40                108.96
10-14 years old                    2.90                156.60
15-19 years old                    3.11                621.56
20-24 years old                    3.02                981.64
25-29 years old                    2.88                221.42
30-34 years old                    2.99                155.71
35-39 years old                    3.54                 95.64
40+ years old                      2.94                 38.24

In [3045]:
#merge data pt 4
age_summary_df = pd.concat([age_summary_df, average_total_purchase_by_age], axis=1)
print(age_summary_df)

                 Total Players in Age Group  Total Purchases  \
Age Group
>10 years old                            24               32
10-14 years old                          41               54
15-19 years old                         150              200
20-24 years old                         232              325
25-29 years old                          59               77
30-34 years old                          37               52
35-39 years old                          21               27
40+ years old                            12               13

                 Average Purchase Price  Total Purchase Value  \
Age Group
>10 years old                      3.40                108.96
10-14 years old                    2.90                156.60
15-19 years old                    3.11                621.56
20-24 years old                    3.02                981.64
25-29 years old                    2.88                221.42
30-34 years old                    2.99                155.71
35-39 years old                    3.54                 95.64
40+ years old                      2.94                 38.24

                 Average Purchase per Player per Group
Age Group
>10 years old                                     3.40
10-14 years old                                   2.90
15-19 years old                                   3.11
20-24 years old                                   3.02
25-29 years old                                   2.88
30-34 years old                                   2.99
35-39 years old                                   3.54
40+ years old                                     2.94

In [3046]:
#create a df of top_spenders_df and run analysis on purchase count, av purchase price, total purchase value, along with their screen name
big_spender_purchases = purchase_data_df.loc[:, ["SN", "Price"]]
big_spender_v = big_spender_purchases.sort_values('SN')
big_spender_v

               SN  Price
467  Adairialis76   2.28
142   Adastirin33   4.48
388        Aeda94   4.91
28         Aela59   4.32
630     Aelaria33   1.79
..            ...    ...
54     Zhisrisu83   4.35
141    Zhisrisu83   3.54
560     Zontibe81   2.48
442     Zontibe81   3.79
17      Zontibe81   1.76

[780 rows x 2 columns]

In [3047]:
total_purchased_by_SN = pd.DataFrame(big_spender_purchases.groupby(["SN"]).sum())
print(total_purchased_by_SN.tail())

               Price
SN
Yathecal82      6.22
Yathedeu43      6.02
Yoishirrala98   4.58
Zhisrisu83      7.89
Zontibe81       8.03

In [3048]:
total_purchased_condensed = total_purchased_by_SN.max()
total_purchased_condensed

Price    18.96
dtype: float64

In [3049]:
#calculate total purchase value + SN
find_the_max_spenders = total_purchased_by_SN.sort_values('Price')
find_the_max_spenders = find_the_max_spenders.tail(5)
find_the_max_spenders = find_the_max_spenders.sort_values('Price', ascending=False)
find_the_max_spenders = pd.DataFrame(find_the_max_spenders.round(2))
find_the_max_spenders = find_the_max_spenders.rename(columns={"Price":"SN3"})
find_the_max_spenders

               SN3
SN
Lisosia93    18.96
Idastidru52  15.45
Chamjask73   13.83
Iral74       13.62
Iskadarya95  13.10

In [3050]:
#get number of purchases easier
big_spender_purchases = purchase_data_df.loc[:, ["SN", "Price"]]
numbers_unique_user_purchase = big_spender_purchases.loc[(big_spender_purchases["SN"]=="Lisosia93") | (big_spender_purchases["SN"]=="Idastidru52") | (big_spender_purchases["SN"]=="Chamjask73") | (big_spender_purchases["SN"]=="Iral74") | (big_spender_purchases["SN"]=="Iskadarya95") , :]


numbers_unique_user_purchase = numbers_unique_user_purchase.sort_values('SN', ascending=False)
numbers_unique_user_purchase = numbers_unique_user_purchase["SN"].value_counts()
numbers_unique_user_purchase

/Users/bitty/opt/anaconda3/lib/python3.8/site-packages/IPython/core/displayhook.py:275: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

Lisosia93      5
Idastidru52    4
Iral74         4
Iskadarya95    3
Chamjask73     3
Name: SN, dtype: int64

In [3051]:
#get number of purchases easier
big_spender_purchases = purchase_data_df.loc[:, ["SN", "Price"]]
numbers_unique_user_purchase = big_spender_purchases.loc[(big_spender_purchases["SN"]=="Lisosia93") | (big_spender_purchases["SN"]=="Idastidru52") | (big_spender_purchases["SN"]=="Chamjask73") | (big_spender_purchases["SN"]=="Iral74") | (big_spender_purchases["SN"]=="Iskadarya95") , :]


numbers_unique_user_purchase = numbers_unique_user_purchase.sort_values('SN', ascending=False)
numbers_unique_user_purchase = pd.DataFrame(numbers_unique_user_purchase["SN"].value_counts())
numbers_unique_user_purchase

             SN
Lisosia93     5
Idastidru52   4
Iral74        4
Iskadarya95   3
Chamjask73    3

In [3052]:
average_purchase_by_person = find_the_max_spenders["SN3"] / numbers_unique_user_purchase["SN"]
average_purchase_by_person = pd.DataFrame(average_purchase_by_person.round(2),columns=["SN2"])
average_purchase_by_person

              SN2
Chamjask73   4.61
Idastidru52  3.86
Iral74       3.40
Iskadarya95  4.37
Lisosia93    3.79

In [3053]:
#average purchase price
numbers_unique_user_purchase = pd.concat([numbers_unique_user_purchase, average_purchase_by_person],axis=1)
numbers_unique_user_purchase

             SN   SN2
Lisosia93     5  3.79
Idastidru52   4  3.86
Iral74        4  3.40
Iskadarya95   3  4.37
Chamjask73    3  4.61

In [3054]:
numbers_unique_user_purchase= pd.concat([numbers_unique_user_purchase, find_the_max_spenders],axis=1)
numbers_unique_user_purchase = numbers_unique_user_purchase.rename(columns={"":"SN", "SN":"Purchases", "SN2":"Average Purchase Price", "SN3":"Total Purchase Price"})
numbers_unique_user_purchase

             Purchases  Average Purchase Price  Total Purchase Price
Lisosia93            5                    3.79                 18.96
Idastidru52          4                    3.86                 15.45
Iral74               4                    3.40                 13.62
Iskadarya95          3                    4.37                 13.10
Chamjask73           3                    4.61                 13.83

In [3055]:
#most popular items df
#Identify the 5 most popular items by purchase count, then list (in a table):

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

popular_items_df = purchase_data_df.loc[:, ["Item ID", "Item Name", "Price"]]
print(popular_items_df)

#groupby item ID and item name
popular_items = pd.DataFrame(popular_items_df.groupby(['Item Name']).count())
popular_items = popular_items.sort_values('Item ID', ascending=False)
popular_items = popular_items.head(5)
print(popular_items)

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]
                                              Item ID  Price
Item Name
Final Critic                                       13     13
Oathbreaker, Last Hope of the Breaking Storm       12     12
Persuasion                                          9      9
Nirvana                                             9      9
Extraction, Quickblade Of Trembling Hands           9      9

In [3056]:
#most popular items df
#Identify the 5 most popular items by purchase count, then list (in a table):

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

popular_items_df = purchase_data_df.loc[:, ["Item ID", "Item Name", "Price"]]

#groupby item ID and item name

value_pop_item = purchase_data_df.loc[(purchase_data_df["Item Name"]=="Final Critic") | (purchase_data_df["Item Name"]=="Oathbreaker, Last Hope of the Breaking Storm") | (purchase_data_df["Item Name"]=="Persuasion") | (purchase_data_df["Item Name"]=="Nirvana") | (purchase_data_df["Item Name"]=="Extraction, Quickblade Of Trembling Hands") , :]
#number of purchases and name of item
num_purchased_pop_item = pd.DataFrame(value_pop_item["Item Name"].value_counts())
print(num_purchased_pop_item)

#item count and number of purchases
item_id = pd.DataFrame(value_pop_item["Item ID"].value_counts())
#item_id = item_id.rename(columns={"Item ID":"Valuecount2"})
print(item_id)

#
total_price_pop = pd.DataFrame(value_pop_item.groupby(["Item Name"]).sum())
total_price_pop = total_price_pop.drop(columns=["Purchase ID", "Age", "Item ID"])
print(total_price_pop)

second_item_id = pd.DataFrame(value_pop_item["Item ID"].head())
print(second_item_id)

price_for_pop = pd.DataFrame(value_pop_item["Price"].head())
print(price_for_pop)

                                              Item Name
Final Critic                                         13
Oathbreaker, Last Hope of the Breaking Storm         12
Extraction, Quickblade Of Trembling Hands             9
Nirvana                                               9
Persuasion                                            9
     Item ID
92        13
178       12
108        9
82         9
132        9
                                              Price
Item Name
Extraction, Quickblade Of Trembling Hands     31.77
Final Critic                                  59.99
Nirvana                                       44.10
Oathbreaker, Last Hope of the Breaking Storm  50.76
Persuasion                                    28.99
    Item ID
0       108
2        92
18       82
24      132
25      178
    Price
0    3.53
2    4.88
18   4.90
24   3.19
25   4.23

In [3057]:
second_item_id.reset_index(drop=True, inplace=True)
price_for_pop.reset_index(drop=True, inplace=True)
price_and_item_id= pd.concat([second_item_id, price_for_pop], axis=1)
price_and_item_id

   Item ID  Price
0      108   3.53
1       92   4.88
2       82   4.90
3      132   3.19
4      178   4.23

In [3058]:
total_price_pop = pd.concat([total_price_pop, num_purchased_pop_item],axis=1)
total_price_pop = total_price_pop.rename(columns={"Item Name":"Purchase Count"})
total_price_pop

                                              Price  Purchase Count
Extraction, Quickblade Of Trembling Hands     31.77               9
Final Critic                                  59.99              13
Nirvana                                       44.10               9
Oathbreaker, Last Hope of the Breaking Storm  50.76              12
Persuasion                                    28.99               9

In [3059]:

total_price_pop.reset_index(drop=False, inplace=True)
total_price_pop = pd.concat([total_price_pop, price_and_item_id], axis=1)
total_price_pop

,index,Price,Purchase Count,Item ID,Price
0,"Extraction, Quickblade Of Trembling Hands",31.77,9,108,3.53
1,Final Critic,59.99,13,92,4.88
2,Nirvana,44.10,9,82,4.90
3,"Oathbreaker, Last Hope of the Breaking Storm",50.76,12,132,3.19
4,Persuasion,28.99,9,178,4.23

In [3060]:
#most profitable items df
#Identify the 5 most profitable items by total purchase value, then list (in a table):

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value
most_profitable_items = purchase_data_df.loc[:, ["Item Name", "Price"]]
most_profitable_items= pd.DataFrame(most_profitable_items.groupby(["Item Name"]).sum())
most_profitable_items = most_profitable_items.sort_values('Price',ascending=False)
print(most_profitable_items.head())

id_with_name = purchase_data_df.loc[:, ["Item Name", "Item ID"]]
id_with_name = id_with_name.sort_values("Item ID")
id_with_name = pd.DataFrame(id_with_name.groupby(["Item Name"]))
id_with_name

                                              Price
Item Name
Final Critic                                  59.99
Oathbreaker, Last Hope of the Breaking Storm  50.76
Nirvana                                       44.10
Fiery Glass Crusader                          41.22
Singed Scalpel                                34.80

,0,1
0,Abyssal Shard,Item Name Item ID 209 Abyssal Shard...
1,"Aetherius, Boon of the Blessed",Item Name Item ID 2...
2,Agatha,Item Name Item ID 415 Agatha 120 ...
3,Alpha,Item Name Item ID 699 Alpha 130 ...
4,"Alpha, Oath of Zeal","Item Name Item ID 352 Alpha, ..."
...,...,...
174,Wolf,Item Name Item ID 775 Wolf 60 ...
175,"Wolf, Promise of the Moonwalker",Item Name Item ID ...
176,Worldbreaker,Item Name Item ID 752 Worldbreaker ...
177,Yearning Crusher,Item Name Item ID 729 Yearning C...
178,Yearning Mageblade,Item Name Item ID 232 Yearning...